// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

.bcn-footer {
  background-color: #ff2828;

  svg {
    display: none;
  }
}

.brand-bar {
  padding-top: 0.7rem !important;
  padding-bottom: 0.2rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

body>div.layout-container>header>div.brand-bar>div.bcn-logo>a>span {
  display: none;
}

.header_wrapper h2,
.header_wrapper h3,
.header_wrapper h4,
.header_wrapper h5 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.header_wrapper p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  color: #ffffff;
}

.header_wrapper a {
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.header_wrapper form {
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.header_wrapper img {
  width: 100%;
  height: auto;
}

.header_wrapper ul {
  margin: auto;
  padding: 0;
}

.header_wrapper ul li {
  list-style: none;
}


.header_wrapper {
  display: block;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.header_wrapper h1 {
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.188em;
  color: #000000;
}

.aui .header_wrapper h1 {
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.188em;
  color: #000000;
}

.header_wrapper .title {
  display: inline-block;
  float: left;
  margin-top: 4px;
  margin-left: 16px;
  width: 35%;
}

.header_wrapper .menu {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 0.75%;
  margin-left: 16px;
  margin-bottom: 5px;
}

.header_wrapper .logo {
  display: inline-block;
  margin-left: 48px;
}

.header_wrapper .has_dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.header_wrapper .dropdown {
  top: -200px;
  left: 0;
  display: none;
}

.header_wrapper .menu .search_ico {
  content: "";
  display: block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border: none;
}

.header_wrapper .menu .searchcontent {
  height: 35px;
  float: left;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-left: 3%;
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.header_wrapper .menu input.searchcontent:focus,
.header_wrapper .menu input.searchcontent:focus-visible,
.header_wrapper .menu input.searchcontent.focus,
.header_wrapper .menu input.searchcontent.focus-visible {
  background: white !important;
  outline: none !important;
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.header_wrapper .menu form.searchContingut {
  float: left;
}

.header_wrapper .menu a.phone_ico {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  width: 30px;
  height: 35px;
}

.header_wrapper .menu a.app_ico {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  width: 16px;
  height: 16px;
}

.header_wrapper .menu a.user_nav_ico p {
  font-weight: 600;
  color: #888888;
  font-size: 1.188em;
  margin: 0;
}

.header_wrapper .menu a.user_nav_ico p:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.header_wrapper .menu a.user_nav_ico.drop-on p:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.valors {
  width: 100%;
  height: 40px;
  float: left;
  background-color: white;
  margin-bottom: 10px;
  font-family: "akzidenz-grotesk-bq-medium-condensed";
  text-align: right;
  padding-right: 25px;
}

#header .header_wrapper .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 15px;
}

.valors span {
  padding-left: 4px;
  font-family: "akzidenz-grotesk-bq-medium-condensed";
  font-size: 2em;
  letter-spacing: -0.5px;
}

.valor_1 {
  color: #ed8670;
}

.valor_2 {
  color: #83c3a3;
}

.valor_3 {
  color: #cb4e4b;
}

.valor_4 {
  color: #64a4be;
}

.valor_5 {
  color: #f2cb77;
}

@media only screen and (min-width: 578px) and (max-width: 767px) {
  #header .header_wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 577px) {
  #header .header_wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #header .header_wrapper .menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 1279px) {
  .brand-bar {
    padding-right: 1rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .bcn-footer>.brand-bar {
    display: block;

    a>img {
      margin: auto;
      scale: 90%;
    }
  }
}
